__pycache__
*/__pycache__
.vscode
*.zip
annos
annotations
OID
MAFood121
food-classify
=======
images
annos
food-app
*.zip
MAFood121
vn_food
data
school_lunch
data_ocr
OID
base.yaml
food-101.tar.gz
food-101
food-classify
weights
detection.yaml
food-android
test.py
.cache
.zip.zip
example
video_detect.py
0.5.4
*.txt