body {
    font-family: Arial,
        Helvetica,
        sans-serif normal;
    margin: 0;
    background-color: whitesmoke;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column1 {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 40px;
    padding-top: 20px;
    text-align: center;
    background-color: #484f5e;
    color: white;
    position: relative;
}

.about-section2 {
    padding: 40px;
    padding-top: 20px;
    text-align: center;
    background-color: #5c616b;
    color: white;
    position: relative;
}

.container1 {
    padding: 0 16px;
}

.container1::after,
.row1::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column1 {
        width: 100%;
        display: block;
    }
}