body {
    font-family: Arial,
        Helvetica,
        sans-serif normal;
    background-color: whitesmoke;
}

video {
    height: 50%;
    width: 50%;
}

.no-display,
#wrapper {
    padding: 10px;
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 30px;
}

.analyze {
    margin-top: 1em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

#label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

#calories {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 15px;
    font-weight: italic;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #7052CB;
    color: #fff;
    border: solid 1px #7052CB;
    font-size: 13px;
}


button:focus {
    outline: 0;
}

button:hover {
    opacity: 0.8;
    transition: all 500ms ease;
}

button:disabled {
    background: inherit;
    display: none;
}

#threshold-range,
#confidence-range {
    margin: 10px 0;
}

/* added */

.pannel-bottom {
    margin-bottom: 10px !important;
}

#upload-div {
    border: 3px dashed #cccccc;
    height: 35px;
    position: relative;
    text-align: center;
}

.upload-div.clickable {
    cursor: pointer;
}

.logo-card {
    width: 20px;
    display: block;
    margin: auto;
    margin-top: 5px;
}

.header-setting {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.result-card {
    min-height: 275px;
    position: relative;
    text-align: center;
}

.result-panel {
    margin-bottom: 5px !important;
}

.placeholder-img {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 80px;
}

.vid-result {
    height: 350;
    display: block;
    margin: auto;
}

.img-result {
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert-margin {
    margin-bottom: 10px;
    margin-top: 5px;
}