<!-- Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_about_page -->

<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/w3.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}" />
  </head>

  <body>
    <div class="w3-top" style="position:relative;" >
      <div class="w3-bar w3-black w3-wide w3-padding w3-card">
        
        <a href="/" class="w3-bar-item w3-button" style="font-size:18px;text-decoration:none;font-family:Verdana, sans-serif;"><b>Food</b> Detector</a>  
        <a href="/about" class="w3-bar-item w3-button" style="font-size:18px;float:right;text-decoration:none;font-family:Verdana, sans-serif;">About</a>       
        <a href="/url" class="w3-bar-item w3-button" style="font-size:18px;float:right;text-decoration:none;font-family:Verdana, sans-serif;">Detect by url</a>       

      </div>
    </div>

    <div class="about-section">
      <h1>About the site</h1>
      <p>
        A food classifier with YOLOv5. 
        <p>Model based on food dataset contains some classes.</p>
        Statistical Machine Learning project in university
      </p>
    </div>

    <h2 style="text-align:center; font-style:italic; font-weight:bold">Our Team</h2>
    <div class="row1" style="text-align:center">
      <div class="column1"">
        <div class="card1">
          <img src="{{ url_for('static', filename='assets/avatars/kaylode.jpg') }}" alt="Kaylode" style="width:300px">
          <div class="container">
            <h2>Minh-Khoi Pham</h2>
            <p class="title">3<sup>rd</sup> year CS student at VNU-HCMUS</p>
            <p>Passionate Machine Learner</p>
            <p>pmkhoi@selab.hcmus.edu.vn</p>
            <p><a href="mailto: pmkhoi@selab.hcmus.edu.vn" class="button" style="text-decoration:none;">Contact via email</a></p>
          </div>
        </div>
      </div>

      <div class="column1">
        <div class="card1">
          <img src="{{ url_for('static', filename='assets/avatars/lannguyen.jpg') }}" alt="Lan" style="width:300px">
          <div class="container">
            <h2>Hoang-Lan Nguyen</h2>
            <p class="title">3<sup>rd</sup> year CS student at VNU-HCMUS</p>
            <p>Tensor Boy</p>
            <p>18120051@student.hcmus.edu.vn</p>
            <p><a href="mailto: 18120051@student.hcmus.edu.vn" class="button" style="text-decoration:none;">Contact via email</a></p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
