<!-- Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_about_page -->

<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/w3.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}" />
  </head>

  <body>
    <div class="w3-top" style="position:relative;" >
      <div class="w3-bar w3-black w3-wide w3-padding w3-card">
        
        <a href="/" class="w3-bar-item w3-button" style="font-size:18px;text-decoration:none;font-family:Verdana, sans-serif;"><b>Food</b> Detector</a>  
        <a href="/about" class="w3-bar-item w3-button" style="font-size:18px;float:right;text-decoration:none;font-family:Verdana, sans-serif;">About</a>       
        <a href="/url" class="w3-bar-item w3-button" style="font-size:18px;float:right;text-decoration:none;font-family:Verdana, sans-serif;">Detect by url</a>       

      </div>
    </div>

    <div class="about-section">
      <h1 style="font-weight: bold; color: #000">Food Detector</h1>
      <p style="padding-top:5px">
        <h4><b>Web App for Food Detection using YOLOv5</b></h4>
        <p>5 datasets are aggregated for use: <b>Open Images V6 - Food, School Lunch Dataset, Vietnamese Food, MAFood-121, Food-101</b></p>
        <p>93,748 training images, 26,825 evaluating images, up to 180 classes</p>
        <p>4 versions of YOLOv5: (s, m, l, x)</p>
        <p>Integrated with Edamam API for nutrition analysis based on food names</p>
      </p>
    </div>
    <div class="about-section2">
      <h1 style="font-weight: bold; color: #000">Instructions for use</h1>
      <p style="padding-top:5px">
        <h4><b>Upload A File (Image/ Video) or Pasting A URL (Image/ Youtube URL)</b></h4>
        <h4><b>Provide some additional features to increase interactivity with users:</b></h4>
        <p>
          <p>Confidence scores and IOU threshold are adjustable</p>
          <p>Choose 1 of 4 YOLOv5 versions to use</p>
          <p>Label enhancement to further predict "<b>Other Food</b>" class using <b>EfficientNet-B4</b></p>
          <p>Ensemble 4 YOLOv5 models and aggregated by "<b>weighted box fusion</b>" method</p>
          <p>Provide 2 types of <b>Nutrition Statistics Chart</b> below an <b>image result</b> (by food and by nutrition)</p>
        </p>
        
      </p>
    </div>

    <h2 style="text-align:center; font-style:italic; font-weight:bold">Our Team</h2>
    <div class="row1" style="text-align:center">
      <div class="column1"">
        <div class="card1">
          <img src="{{ url_for('static', filename='assets/avatars/kaylode.jpg') }}" alt="Kaylode" style="width:300px">
          <div class="container">
            <h2>Minh-Khoi Pham</h2>
            <p class="title">3<sup>rd</sup> year CS student at VNU-HCMUS</p>
            <p>Passionate Machine Learner</p>
            <p>pmkhoi@selab.hcmus.edu.vn</p>
            <p><a href="mailto: pmkhoi@selab.hcmus.edu.vn" class="button" style="text-decoration:none;">Contact via email</a></p>
          </div>
        </div>
      </div>

      <div class="column1">
        <div class="card1">
          <img src="{{ url_for('static', filename='assets/avatars/lannguyen.jpg') }}" alt="Lan" style="width:300px">
          <div class="container">
            <h2>Hoang-Lan Nguyen</h2>
            <p class="title">3<sup>rd</sup> year CS student at VNU-HCMUS</p>
            <p>Tensor Boy</p>
            <p>18120051@student.hcmus.edu.vn</p>
            <p><a href="mailto: 18120051@student.hcmus.edu.vn" class="button" style="text-decoration:none;">Contact via email</a></p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
