<!-- Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_about_page -->

<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='../static/css/about.css'>
    <link rel="stylesheet" href="../static/css/w3.css">
  </head>

  <body>
    <div class="w3-top" style="position:relative;" >
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="./index.html" class="w3-bar-item w3-button" style="font-size:18px;text-decoration:none"><b>Food</b> Detector</a> 
        <a href="./about.html" class="w3-bar-item w3-button" style="font-size:18px;float:right;text-decoration:none">About</a> 
      </div>
    </div>

    <div class="about-section">
      <h1>About the site</h1>
      <p>
        A food classifier with YOLOv5. 
        <p>Model based on food dataset contains some classes.</p>
        Statistical Machine Learning project in university
      </p>
    </div>

    <h2 style="text-align:center; font-style:italic; font-weight:bold">Our Team</h2>
    <div class="row1" style="text-align:center">
      <div class="column1">
        <div class="card1">
          <img src="../assets/avatars/kaylode.jpg" alt="Kaylode" style="width:300px">
          <div class="container">
            <h2>Minh-Khoi Pham</h2>
            <p class="title">3<sup>rd</sup> year CS student at VNU-HCMUS</p>
            <p>Passionate Machine Learner</p>
            <p>pmkhoi@selab.hcmus.edu.vn</p>
            <p><a href="pmkhoi@selab.hcmus.edu.vn" class="button" style="text-decoration:none;">Contact via email</a></p>
          </div>
        </div>
      </div>

      <div class="column1">
        <div class="card1">
          <img src="../assets/avatars/lannguyen.jpg" alt="Lan" style="width:300px">
          <div class="container">
            <h2>Hoang-Lan Nguyen</h2>
            <p class="title">3<sup>rd</sup> year CS student at VNU-HCMUS</p>
            <p>Tensor Boy</p>
            <p>18120051@student.hcmus.edu.vn</p>
            <p><a href="18120051@student.hcmus.edu.vn" class="button" style="text-decoration:none;">Contact via email</a></p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
