<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/w3.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>

  <body>
    <div class="w3-top" style="position:relative;">
      <div class="w3-bar w3-black w3-wide w3-padding w3-card" style="font-size:15px;font-family:Verdana, sans-serif;margin:0">
        <a href="/" class="w3-bar-item w3-button" style="font-size:18px;text-decoration:none;font-family:Verdana, sans-serif;"><b>Food</b> Detector</a>  
        <a href="/url" class="w3-bar-item w3-button" style="font-size:18px;float:right;text-decoration:none;font-family:Verdana, sans-serif;">Detect by url</a>       
        <a href="/webcam" class="w3-bar-item w3-button" style="font-size:18px;float:right;text-decoration:none;font-family:Verdana, sans-serif;">Detect by webcam</a>       
      </div>
    </div>


    <div class='center' style="position:relative;">
        <div class="panel panel-default result-panel">
            <div class="panel-body w3-card">
                <div class="container">
                    <div class="row justify-content-center">
                        <h2>Detection inputs</h2>
                    </div>
                </div>
                <div class='content'>
                    <form id="file-upload" action = "/analyze" method = "POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-3">
                            <div id="canvas-tools" class="panel panel-default">
                                <div class="panel-body">
                                <div id="threshold-text">
                                    <b>IOU Threshold:</b>
                                    <span>50</span>%
                                </div>
                                <input id="threshold-range" type="range" min="0" max="100" value="50" class="slider" name="threshold-range">
                                </div>
                            </div>
                            </div>

                            <div class="col-md-3">
                            <div id="canvas-tools" class="panel panel-default">
                                <div class="panel-body">
                                <div id="confidence-text">
                                    <b>Confidence:</b>
                                    <span>15</span>%
                                </div>
                                <input id="confidence-range" type="range" min="0" max="100" value="15" class="slider" name="confidence-range">
                                </div>
                            </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="model-types">Choose a model</label>
                                    <br/>
                                    <select name="model-types" class="form-control-sm" id="model-types">
                                        <option>YOLOv8s</option>
                                        <option>YOLOv5s</option>
                                        <option>YOLOv5m</option>
                                        <option>YOLOv5l</option>
                                        <option>YOLOv5x</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="ensemble" name="ensemble">
                                    <label class="form-check-label" for="ensemble">Ensemble models</label>
                                </div>

                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="tta" name="tta">
                                    <label class="form-check-label" for="tta">Test-time augmentation</label>
                                </div>

                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="enhanced" name="enhanced">
                                    <label class="form-check-label" for="enhanced">Label Enhancement</label>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-3">
                                        <h1>Segmentation inputs</h1>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="seg" name="seg">
                                            <label class="form-check-label" for="seg">Semantic Segmentation</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br/>

                        {% if error_msg %}
                            <div id="alert" class="alert alert-danger alert-dismissible alert-margin" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            {{error_msg}}
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-6">
                            <div class="panel panel-default margin">
                                <div class="panel-body">
                                    <p style="margin-top: 5px">Select From URL</p>
                                    <div>
                                        <input type=url class="form-control" id="url" name="url_link" onchange="trackURL(this.value)" placeholder="http://">
                                    </div>
                                    <button type="submit" id="url-button" name="url-button" class="btn btn-outline-success"
                                        style="margin-top: 10px;border: 1px gray solid" disabled="disabled">Detect by URL</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% block content %}
        {% if not error_msg %}
        <div id='result-content'>
            <div class="panel panel-default result-panel">
                <div class="panel-body w3-card">
                    <div style="text-align: center;font-size:20px;">
                        <b>{{out_name}}</b>
                    </div>
                    <br/>
                    {% if output_type == 'detection' %}
                        <a href="{{url_for('static', filename='assets/detections/' + fname)}}" target="_new"><img src="{{url_for('static', filename='assets/detections/' + fname)}}" class="upload-image-thumb" style="display: block;margin-left: auto;margin-right: auto;width: 640px; height: 480px"></a>
                    {% elif output_type == 'semantic' %}
                      <a href="{{url_for('static', filename='assets/segmentations/' + segname)}}" target="_new"><img src="{{url_for('static', filename='assets/segmentations/' + segname)}}" class="upload-image-thumb" style="display: block;margin-left: auto;margin-right: auto;width: 640px; height: 480px"></a>
                    {% endif %}
                    <label id="csv_file" style="display:none">{{csv_name}}</label>
                    <label id="csv_file2" style="display:none">{{csv_name2}}</label>

                </div>
            </div>

            {% if filetype == 'image' and output_type == 'detection' %}
            <div class="panel panel-default result-panel">
                <div class="panel-body w3-card">
                    <div  id="display-chart" style="text-align:center; font-size:20px;">
                        <b>Display Chart</b>
                    </div>
                    <select style="margin-top: 1em" class="form-control-sm" value="2" onfocus="this.selectedIndex = -1;" onchange="getChart(this);" >
                        <option value="1">Food Names</option>
                        <option value="2">Nutritional Info</option>
                    </select>
                    
                    <!-- <div id="image-result"></div> -->
                    
                    <canvas id="container1" style="width:100%; height:480px; display:none"></canvas>
                    <canvas id="container2" style="width:100%; height:480px; display:none"></canvas>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endblock %}
    </div>


    <footer style="position: absolute;right: 0;left: 0;padding: 1rem;text-align: center; box-sizing: border-box;z-index:150;" class="w3-card w3-container w3-padding-64 panel-body panel panel-default result-panel w3-light-gray w3-center w3-xlarge">
    
      <a href="https://github.com/lannguyen0910/food-detection-yolov5" target="_blank"><i class="fab fa-github w3-hover-opacity"></i></a>
      <p class="w3-medium" style="font-weight: bold;">Created by <a href="https://github.com/kaylode/"
          target="_blank" style="text-decoration: none;">kaylode</a> and <a href="https://github.com/lannguyen0910/"
          target="_blank" style="text-decoration: none;">lannguyen</a></p>

    </footer>

    <script src="{{ url_for('static', filename='js/handle-input-url.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/display-nutrients-chart.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/all.js') }}" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>